xsd/armaduras.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="armaduras">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="pieza" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="nombre"/>
              <xs:element type="xs:string" name="tipo"/>
              <xs:element type="xs:byte" name="defensa"/>
              <xs:element type="xs:byte" name="fuego"/>
              <xs:element type="xs:byte" name="agua"/>
              <xs:element type="xs:byte" name="rayo"/>
              <xs:element type="xs:byte" name="hielo"/>
              <xs:element type="xs:byte" name="dragon"/>
              <xs:element type="xs:string" name="habilidad"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>