xsd/misiones.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="misiones">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="mision" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="titulo"/>
              <xs:element type="xs:string" name="descripcion"/>
              <xs:element type="xs:string" name="dificultad"/>
              <xs:element type="xs:string" name="recompensa"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="tipo" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>